.sinks-wrapper.wall{
    display: flex;
    flex-direction: column;

}

.sinks-wrapper.tile{
    display: flex;
    flex-wrap: wrap;
    /* margin: 50px; */
    width: 100%;
}

.tile-pic, .wall-pic{
    display: flex;
    width: 64px;
    height: 64px;
    flex-wrap: wrap;
    
    background: none;
    border: none;
    cursor: pointer;
    padding: 20px;
}

.tile-pic{
    gap: 2px;
    justify-content: center;
    align-items: center;
}

.tile-pic div{
    width: 10px;
    height: 10px;
    border: 1px solid #000;
}

.wall-pic div{
    width: 100%;
    height: 40%;
    border: 1px solid #000;
}

.category-buttons{
    display: flex;

    align-items: center;
    padding-top: var(--top-pad); 

}