.categories {
    padding-top: var(--top-pad);
}

.tile {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.categories-wrapper {
    position: relative;
}

.product-item-btn {
    position: absolute;
    right: 0;
    top: -30px;
    z-index: 1111;
}