.categories{
    padding-top: var(--top-pad); 
}

.tile{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
   
    width: 100%;
}

.categories-back-button{
    text-align: right;
    padding: 0 40px;
}
