.product-item{
}

.product-item-img img{
    position: relative;
    height: calc(100vh - 4rem);
    width: 100%;
    object-fit: cover;    
    margin-bottom: 20px;
}

.product-item-name{
    position: absolute;
    bottom: 8%;
    left: 5%;
    font-size: 70px;
    color: #b3bab2;
    font-family: "Arapey", serif;
    font-weight: 700;
    font-style: normal;
}

.product-item-wrapper{
}

.product-item-wrapper button{
    margin-bottom: 20px;
    background: url(../assets/images/arrow.png) center/contain no-repeat;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    rotate: 180deg;
}

.product-item-decription {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    text-align: justify;
    gap: 100px;
}

.product-item-decription p{
    justify-content: center;
    font-size: 24px;
    flex-basis: 80%;
}


@media (max-width: 1623px) {
 
    .product-item-name{bottom: 10%;}
    .product-item-decription {max-width: 1200px;}

    .product-item-decription p{}
}


