.back-btn{
    background: url(../assets/images/arrow.png) center/contain no-repeat;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    rotate: 180deg;
    mix-blend-mode: multiply;
}