
.back-btn{
    margin-bottom: 20px;
    background: url(../assets/images/arrow.png) center/contain no-repeat;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    rotate: 180deg;
}