.category{
    position: relative;
    min-height: 200px;
    width: calc(25% - 32px);
    padding: 0;
    margin: 0 32px 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    /* background-image: url('../assets/images/sink_1.jpg'); */
    background-position: center;
    background-size:cover;
    
    z-index: 1;
   
}
.category-filter{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .6;
    background: white;
    z-index: -2;
    transition: opacity 0.1s ease-in;
}
.category:hover > .category-filter{
    opacity: .0;
    z-index: -2;
}
.category-text{
    transition: opacity .2s ease-in ;
    font-size: 20px;
}
.category:hover .category-text{
  opacity: 0;
}

.category-content{
    
    padding: 32px;
}
.category .link a{
    padding-bottom: 2px;
    transition: .2s ease-in;
    padding: 10px 0;
    text-decoration: underline;
    
}

.category .link a::after{
    content: none;
  }
  .category .link a:hover{
    text-decoration: none;
  }
.category:hover .link a{
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    
  }


  @media screen and (max-width: 1550px) {
    .category{
      width: calc(33.333% - 32px);
    }    
  }
  @media screen and (max-width: 1000px) {
    .category{
      width: calc(50% - 16px);
      margin: 0 16px 32px 0;
    }    
  }
  @media screen and (max-width: 768px) {
    .category{
      width: 100%;
      margin: 0 0 32px;
      font-size: 1rem;
    }    
    .category-content a{
      font-size: 1.6rem;
    }
  }
  @media screen and (max-width: 500px) {
    .category-content a{font-size: 1rem;}
  }