.category {
  position: relative;

  background-position: center;
  background-size: cover;
  background-position: center;

  z-index: 1;
}

.category-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .6;
  background: white;
  z-index: -2;
  transition: opacity 0.1s ease-in;
}

.category:hover>.category-filter {
  opacity: .0;
  z-index: -2;
}

.category-text {
  transition: opacity .2s ease-in;
  font-size: 20px;
}

.category:hover .category-text {
  opacity: 0;
}

.category-content {
  padding: 22px 32px;
}

.category .link {
  margin-top: 30px;
}

.category .link a {
  padding-bottom: 2px;
  transition: .2s ease-in;
  padding: 10px 0;
  text-decoration: underline;
  margin-bottom: 0;
}

.category .link a::after {
  content: none;
}

.category .link a:hover {
  text-decoration: none;
}

.category:hover .link a {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
}
