.document{
    display: flex;
    flex-direction: column;
    background: #e1e1e1;
    padding: 20px;
    gap: 60px;
    font-size: 1.5rem;
    flex: 0 1 49%;
}

.document p{ 
    font-family: "Oswald", sans-serif;
    font-weight: 300;
}

.images{
    display: flex;
    align-items: center;
    justify-content: end;
}