.properties{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.properties-left img{
    max-width: 100%;
    width: 600px;
    flex-shrink: 1;
}

.properties-right > div{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 4px 0;
    min-width: 400px;
}

.properties-right{
    flex-grow: 1;
} 

.properties-right span{
    font-size: 1.5rem;
    font-weight: 300;
}

@media screen and (max-width: 500px){
    .properties-right > div{min-width: 150px;}
    .properties-right span{font-size: 1.2rem;}
}