
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  
  /* Убирает способность выделять картинки */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.swiper-button-prev {
  position: absolute;
  left: 80%;
  top: calc(100% + 30px - 100px);
  padding: 50px 40px;
  background-color: black;
}

.swiper-button-next {
  position: absolute;
  left: calc(80% + 100px);
  top: calc(100% + 30px - 140px);

  padding: 70px 40px;
  background-color: black;

}

.swiper-button-prev::after {
  font-size: 200%;
  color: white;
}

.swiper-button-next::after {
  font-size: 200%;
  color: white;
}