.sidebar{
    width: 250px;
    background: #000;
    border-radius: 8px;
    background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
    min-height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 2rem);
}

.admin-panel-name{
    color: snow;
    text-align: center;
    margin: 1rem 0;
}

.sidebar-division-line{
    flex-shrink: 0;
    border-top: 0px solid rgba(0, 0, 0, 0.08);
    border-right: 0px solid rgba(0, 0, 0, 0.08);
    border-left: 0px solid rgba(0, 0, 0, 0.08);
    height: 0.0625rem;
    margin: 1rem 0px;
    border-bottom: none;
    opacity: 0.25;
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0)) !important;
}

.sidebar-nav{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.sidebar-nav .button-exit{
    margin-top: auto;
    text-align: center;
    margin-bottom: 20px;
}


.nav-link div, .sidebar-nav .button-exit button{
    opacity: 1;
    color: rgb(255, 255, 255);
    -webkit-box-align: center;
    align-items: center;
    padding: 0.5rem 0.625rem;
    margin: 0.09375rem 1rem;
    border-radius: 0.375rem;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
}



.nav-link div:hover{
    background: #ffffff0f;
}

.nav-link.active div, .sidebar-nav .button-exit button{
    background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
    box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem, rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0.0625rem;    
    border: none;
}

