@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --top-pad: 75px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
}

a{
  color: black;
  cursor: pointer;
}
pre {
  white-space: pre-wrap; 
  white-space: -moz-pre-wrap; 
  white-space: -pre-wrap; 
  white-space: -o-pre-wrap; 
  word-wrap: break-word; 
}

p {
  font-family: "Arapey", serif;
  font-weight: 400;
  font-style: normal;
}

img {
  display: block;

}

body{
  min-height: 100vh;
}

#root {
  min-height: 100svh;

}

.container {
  max-width: 90%;
  margin: 0 auto;
  height: inherit;
}

.inner-container{
  max-width: 2100px;
  margin: 0 auto;
  height: inherit;
}

body {
  overflow-x: hidden;
  scrollbar-gutter: 5px;
}

::-webkit-scrollbar {
  background: transparent;
  width: 5px;  
}

::-webkit-scrollbar-thumb {
  background: black;
}

::-webkit-scrollbar-track {
  background: transparent;
}


.admin-save-btn, .admin-delete-btn{
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  color: rgb(255 255 255);
  text-align: center;
  border-radius: 4px;
  background-color: #419152;
  line-height: 2px;
  height: 40px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
  margin: 0;
}

.admin-delete-btn{
  padding: 13px;
  background-color: #914141;
  color: white;
}